// Styles to set text alignment and vertical alignment.

.left {
	text-align: left;

	img {
		display: inline-block;
	}
}

.center {
	text-align: center;

	img {
		display: inline-block;
	}
}

.right {
	text-align: right;

	img {
		display: inline-block;
	}
}

.top {
	vertical-align: top;
}

.middle {
	vertical-align: middle;
}

.bottom {
	vertical-align: bottom;
}