// Styles to set top and bottom padding.

// Padding top.

.topline-quarter {
  padding-top: $baseline * 0.25;
}

.topline-half {
  padding-top: $baseline * 0.5;
}

.topline {
  padding-top: $baseline;
}

.topline-1_5x {
  padding-top: $baseline * 1.5;
}

.topline-2x {
  padding-top: $baseline * 2;
}

.topline-2_5x {
  padding-top: $baseline * 2.5;
}

.topline-3x {
  padding-top: $baseline * 3;
}


// Padding bottom.

.baseline-quarter {
  padding-bottom: $baseline * 0.25;
}

.baseline-half {
  padding-bottom: $baseline * 0.5;
}

.baseline {
  padding-bottom: $baseline;
}

.baseline-1_5x {
  padding-bottom: $baseline * 1.5;
}

.baseline-2x {
  padding-bottom: $baseline * 2;
}

.baseline-2_5x {
  padding-bottom: $baseline * 2.5;
}

.baseline-3x {
  padding-bottom: $baseline * 3;
}


// Special consideration for <div> elements

// Padding top.

div.topline-quarter {
  padding: 0;
  margin-top: $baseline * 0.25;
}

div.topline-half {
  padding: 0;
  margin-top: $baseline * 0.5;
}

div.topline {
  padding: 0;
  margin-top: $baseline;
}

div.topline-1_5x {
  padding: 0;
  margin-top: $baseline * 1.5;
}

div.topline-2x {
  padding: 0;
  margin-top: $baseline * 2;
}

div.topline-2_5x {
  padding: 0;
  margin-top: $baseline * 2.5;
}

div.topline-3x {
  padding: 0;
  margin-top: $baseline * 3;
}


// Padding bottom.

div.baseline-quarter {
  padding: 0;
  margin-bottom: $baseline * 0.25;
}

div.baseline-half {
  padding: 0;
  margin-bottom: $baseline * 0.5;
}

div.baseline {
  padding: 0;
  margin-bottom: $baseline;
}

div.baseline-1_5x {
  padding: 0;
  margin-bottom: $baseline * 1.5;
}

div.baseline-2x {
  padding: 0;
  margin-bottom: $baseline * 2;
}

div.baseline-2_5x {
  padding: 0;
  margin-bottom: $baseline * 2.5;
}

div.baseline-3x {
  padding: 0;
  margin-bottom: $baseline * 3;
}