// Styles to set left and right padding.

.padding-quarter {
	padding-left: $padding * 0.25;
	padding-right: $padding * 0.25;
}

.padding-left-quarter {
	padding-left: $padding * 0.25;
}

.padding-right-quarter {
	padding-right: $padding * 0.25;
}

//--

.padding-half {
	padding-left: $padding * 0.5;
	padding-right: $padding * 0.5;
}

.padding-left-half {
	padding-left: $padding * 0.5;
}

.padding-right-half {
	padding-right: $padding * 0.5;
}

//--

.padding {
	padding-left: $padding;
	padding-right: $padding;
}

.padding-left {
	padding-left: $padding;
}

.padding-right {
	padding-right: $padding;
}

//--

.padding-1_5x {
	padding-left: $padding * 1.5;
	padding-right: $padding * 1.5;
}

.padding-left-1_5x {
	padding-left: $padding * 1.5;
}

.padding-right-1_5x {
	padding-right: $padding * 1.5;
}

//--

.padding-2x {
	padding-left: $padding * 2;
	padding-right: $padding * 2;
}

.padding-left-2x {
	padding-left: $padding * 2;
}

.padding-right-2x {
	padding-right: $padding * 2;
}

//--

.padding-2_5x {
	padding-left: $padding * 2.5;
	padding-right: $padding * 2.5;
}

.padding-left-2_5x {
	padding-left: $padding * 2.5;
}

.padding-right-2_5x {
	padding-right: $padding * 2.5;
}

//--

.padding-3x {
	padding-left: $padding * 3;
	padding-right: $padding * 3;
}

.padding-left-3x {
	padding-left: $padding * 3;
}

.padding-right-3x {
	padding-right: $padding * 3;
}

//--

.padding-none-top {
	padding-top: 0;
}

.padding-none-right {
	padding-right: 0;
}

.padding-none-bottom {
	padding-bottom: 0;
}

.padding-none-left {
	padding-left: 0;
}

.padding-none {
	padding: 0;
}