// Styles for default baseline rules for various elements.

.row-wrapper {
	padding-top: $baseline * 1.5;
}

.full-width-row .full-width-row-wrapper {
	padding-top: $baseline * 1.5;
	padding-bottom: $baseline * 1.5;

	.row-wrapper {
		padding-top: 0;
		padding-bottom: 0;
	}
}

.para-wrapper {
	padding-top: $baseline * 0.5;
}

.first-child .para-wrapper {
	padding-top: 0;
}


.list-item-wrapper,
.list-bullet-wrapper {
	padding-top: $baseline;
}

.list .first-child {
	.list-item-wrapper,
	.list-bullet-wrapper {
		padding-top: 0;
	}
}