// Styles to set width.

.width-quarter {
	width: 25% !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.width-half {
	width: 50% !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.width-three-quarter {
	width: 75% !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.width-80-percent {
	width: 80% !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.width-full {
	width: 100% !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}