// Styles to remove padding.

.padding-none-top {
	padding-top: 0;
}

.padding-none-right {
	padding-right: 0;
}

.padding-none-bottom {
	padding-bottom: 0;
}

.padding-none-left {
	padding-left: 0;
}

.padding-none {
	padding: 0;
}