.list-bullet-wrapper {
	font-size: larger;
	padding-right: 10px;
	vertical-align: top;
	padding-top: $baseline;
}

.list-item-wrapper {
	vertical-align: top;
	padding-top: $baseline;
}

.list-ordered .list-bullet-wrapper {
	font-size: inherit;
}

.list .first-child {
	.list-item-wrapper,
	.list-bullet-wrapper {
		padding-top: 0;
	}
}