.list__bullet-wrapper {
	font-size: larger;
	padding-right: 10px;
	vertical-align: top;
	padding-top: $baseline;
}

.list__item-wrapper {
	vertical-align: top;
	padding-top: $baseline;
}

.list--ordered .list__bullet-wrapper {
	font-size: inherit;
}

.first-child {
	> .list__item-wrapper,
	> .list__bullet-wrapper {
		padding-top: 0;
	}
}